body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #292b2c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
